</main>

<footer class="flex flex-col items-center text-center py-4 text-white text-align-bottom">
  <a href="/" title="NullDraft - Your go-to platform for collaborative writing and brainstorming.">
  <h2 class="mb-2 text-lg font-bold text-white font-bold"><div class="flex items-center"><img src="/images/logo.png" alt="NullDraft Logo" class="h-8 w-8 mr-2">NullDraft</h2></div>
  </a>
  <p class="mb-2">Copyright © <%= new Date().getFullYear() %></p>
</footer>
</body>

</html>