<%- include("partials/header.ejs")  %>

<div class="container mx-auto my-20 p-4 flex flex-col items-center justify-center text-white">
    <h1 class="text-4xl font-bold mb-4">NullDraft</h1>
    <p class="text-lg mb-8">Your go-to platform for collaborative writing and brainstorming.</p>

    <div class="flex flex-col items-center">
        <a href="/newpost" class="bg-purple-700 hover:bg-purple-900 text-white font-bold py-2 px-4 rounded mb-4 transition duration-300 ease-in-out">
            Create a New Post
        </a>
        
        <a href="/posts" class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
            View All Posts
        </a>
    </div>

    <div class="w-full max-w-3xl mt-20 mb-15">
        <h2 class="font-bold text-3xl mb-8">About NullDraft</h2>
        <div>
        <p class="text-xl">
            NullDraft is a minimalist blog platform that lets you create, edit and delete text blogs without logins or databases. Built with Express and EJS, it's fast, simple, and perfect for quick publishing and idea sharing.
        </p>

</div>

<%- include("partials/footer.ejs")  %>