body{
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343);
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.5px #ffffff;
    -webkit-text-fill-color: #ffffff;

}

